.ctn {
	margin: 8px 0;
	font-size: .85rem;
	display: flex;
	align-items: center;
	color: white;
}

.ctn img {
	width: var(--icon-explorer-size);
	margin-right: 5px;
	height: auto;
}

.box {
	display: flex;
	justify-content: center;
	align-items: end;
	text-align: center;
}

.box .icon {
	font-size: 1.3rem;
}