.ctn {
	min-height: 20px;
	margin: 6px 0;
	font-size: .85rem;
	display: flex;
	align-items: center;
	color: white;
	overflow: hidden;

	img {
		margin-right: 5px;
		height: auto;
	}
}

.box {
	display: flex;
	align-items: center;

	.icon {
		font-size: 1.1rem;
	}
}